/*
Author: Deepika Chandra Sekar
Description: CSS for responsive for device width 1000px
*/
@media only screen and (max-width:1000px){
    .coffee-select{
        margin-left: 0px;
   }
    .send-free-coffee-form {
        width: 330px;
        height: 480px;
        background-color: #D4AA88;
        background-blend-mode: lighten;
        border-radius: 10px;
        position: relative;
        text-align: center;
        margin: 0 auto;
        padding: 20px;
   }
   .success_msg {
    color: #7d7a76;
    font-weight: bold;
    font-size: 17px;
    font-family: "Iowan Old Style";
    }
    .select-name-box{
        width: 80%;
        padding: 20px 0 20px 0;
        margin: 15px 0;
        background-color: #E9D4C3;
        display: inline-block;
        border: 1px solid #E9D4C3;
        border-radius: 20px;
        text-align-last: center;
   }
}
